body {
    background-color: #121212;
}

h1 {
    color: #FFFFFF;
}

#channel {
    height: 100px;
    width: 300px;
    background-color: #FF0000;
    border-radius: 10px;
}

#inputSubmit:hover {
	background-color:#5cbf2a;
}

#inputField {
	background-color:#9EA5AD;
	border-bottom-left-radius:28px;
	border-top-left-radius:28px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	width:70%;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	position: relative;
	left: 5%;
	top: 50px;
}

#inputSubmit {
	background-color:#44c767;
	border-bottom-right-radius:28px;
	border-top-right-radius:28px;
	border:0px solid #44c767;
	display:inline-block;
	cursor:pointer;
	width:10%;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	position: relative;
	left: 5%;
	top: 50px;
}

.channelName {
	background-color:#FF0000;
	border-bottom-left-radius:28px;
	border-top-left-radius:28px;
	border:1px solid;
	display:inline-block;
	width:70%;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	position: relative;
	left: 5%;
	top: 50px;
}

::placeholder {
    color: #000000;
}

.channelRemove {
	background-color:#454C52;
	border-bottom-right-radius:28px;
	border-top-right-radius:28px;
	border:0px solid;
	display:inline-block;
	cursor:pointer;
	width:10%;
	color:#FF0000;
	font-family:Arial;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	position: relative;
	left: 5%;
	top: 50px;
}
