<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>YT Channel Downloader</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <h1 align="center"> YT Channel Downloader</h1>
    </head>
    <body>
        <form class="channelInput" method="POST">
            <input id="inputField" name="inputField" type="url" placeholder="Input the URL of a YT-Channel here, ex.: https://www.youtube.com/user/Gronkh">
            <input id="inputSubmit" name="inputSubmit"type="submit" value="Add">
        </form>
        <br><br><br>
    {% for channel, channelURL in channels %}
        <div class="channel">
            <form class="remove" method="POST">
                <div class="channelName">{{ channel }} <span>URL: {{ channelURL }}</span></div>
                <input type="submit" class="channelRemove" name="{{ channel }}" value="Remove">
            </form>
        </div>
    {% endfor %}
    </body>
</html>