<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>YT Channel Downloader</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <h1 align="center">YT Channel Downloader</h1>
    </head>
    <body>
        <div>
            <input type="checkbox" id="channelDirectory" name="channelDirectory" value="x">
            <label for="channelDirectory">Save Videos in a directory named after the Channel</label>
        </div>
        <br><br><br>
         <div>
            <button type="submit">Subscribe</button>
        </div>
         <div>
            <a href="index.html" class="settings">Return to home</a>
        </div>
    </body>
</html>